<div class="games">
    <div class="container">
        <h2 class="games-title block-title">
            Try our games:
        </h2>
        <p class="games-descr block-descr">
            30 million players can’t be wrong
        </p>

        <div class="games__inner">
            <div class="col">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
            </div>

            <div class="col">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
            </div>


            
            <div class="col">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
            </div>


            <div class="col">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
            </div>

            <div class="col">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
            </div>

        </div>

        <div class="games__inner games__inner--mob">
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>

                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>


            
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>


                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>
                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>

                <a href="" class="game">
                    <img class="game-img" src="img/games/g1.png" alt="">
                    <span class="game-name">Johnny Trigger</span>
                </a>

        </div>

        <a href="" class="see-all">
            See more
        </a>
    </div>
</div>