<div class="points">
    <div class="container">
        <div class="points__inner">
            <div class="points__images">
                <img src="img/phone_black.png" alt="" class="first-img">
                <img src="img/phone_black.png" alt="" class="second-img">
            </div>

            <div class="points__content">
                <h2 class="points__content-title">
                    Come up with something unique
                </h2>
                <p class="points__content-descr">
                    Every our game is unique and original but all of them bring a ton of fun to the players.
                </p>

                <ul class="points__content-list">
                    <li class="points__content-item">    
                        <img src="img/numbers-icon1.svg" alt="" class="points__content-icon">
                        <div class="points__content-text">
                           <div class="number">8</div>  Hits in app stores
                        </div>
                    </li>
                    <li class="points__content-item">    
                        <img src="img/numbers-icon2.svg" alt="" class="points__content-icon">
                        <div class="points__content-text">
                           <div class="number">30 <span class="blue">+</span> </div> million downloads worldwide
                        </div>
                    </li>
                    <li class="points__content-item">    
                        <img src="img/numbers-icon3.svg" alt="" class="points__content-icon">
                        <div class="points__content-text">
                            <div class="number">50 <span class="blue">+</span> </div>  employees
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>