<div class="cards">
    <div class="container">
        <h2 class="block-title">
            Find your role
        </h2>

        <p class="block-descr">
            We’re always looking for new talents to share our passion. Check out our open positions:
        </p>


        <h3 class="block-subtitle">
            Join our team - unleash your creativity.
        </h3>

        <div class="cards__inner">
            <div class="cards__item">
                <img class="cards__item-icon" src="../img/icon7.svg" alt="">
                <h4 class="cards__item-title">
                    Iterating ideas to perfection
                </h4>
                <p class="cards__item-text">
                    All ideas have the potential to become the next big thing. We strive to improve with each step.
                </p>
            </div>
            <div class="cards__item">
                <img class="cards__item-icon" src="../img/icon8.svg" alt="">
                <h4 class="cards__item-title">
                    Seeking big opportunities
                </h4>
                <p class="cards__item-text">
                    We’re at the forefront of new tech and are focusing on the future to achieve even more success.
                </p>
            </div>
            <div class="cards__item">
                <img class="cards__item-icon" src="../img/icon9.svg" alt="">
                <h4 class="cards__item-title">
                    We believe in experience
                </h4>
                <p class="cards__item-text">
                    Inspiration comes from anywhere - and our experience is the key to successful games.
                </p>
            </div>
        </div>
    </div>
</div>