<div class="cards cards--with-links">
    <div class="container">
        <h2 class="block-title">
            Find your role
        </h2>

        <p class="block-descr">
            We’re always looking for new talents to join the team and create awesome games. Check out our open positions:
        </p>


  

        <div class="cards__inner">
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    Senior Unity Developer
                </h4>
                <p class="cards__item-text">
                    Implement Unity-based UI, gameplay, tooling, streamline prefabs structure, implement a new gameplay feature.
                </p>
                <a href="#">Apply online</a>
            </div>
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    Game Designer
                </h4>
                <p class="cards__item-text">
                    Create the game concept and describe the game mechanics and theme.
                </p>
                <a href="#">Apply online</a>
            </div>
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    2D/3D Concept Artist
                </h4>
                <p class="cards__item-text">
                    Create original and imaginative concept art for characters, environments, and other game assets.
                </p>
                <a href="#">Apply online</a>
            </div>
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    3D Game Artist
                </h4>
                <p class="cards__item-text">
                    Create original and imaginative concept art for characters, environments, and other game assets.
                </p>
                <a href="#">Apply online</a>
            </div>
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    Senior Unity Developer
                </h4>
                <p class="cards__item-text">
                    You will be responsible for scoping, creating, and supporting core gameplay systems. 
                </p>
                <a href="#">Apply online</a>
            </div>
            <div class="cards__item">
                
                <h4 class="cards__item-title">
                    3D Game animator - VFX generalist
                </h4>
                <p class="cards__item-text">
                    You will be responsible for scoping, creating, and supporting core gameplay systems. 
                </p>
                <a href="#">Apply online</a>
            </div>
        </div>


        <a href="" class="see-all">
            See all open roles
        </a>
    </div>
</div>